.container{
  /* text-align: right; */
}
.full-height{
  /* direction: rtl!important; */
  height: 95vh;
  /* padding: 25px 50px; */
}
.mobileInput{
  height: 50px!important;
  border-radius: 2px;
}
.submitButton{
  background-color: rgb(67, 215, 149) !important;
  border-color: rgb(67, 215, 149) !important;
  display: block;
  width: 100%;
  color:white;
  padding:10px;
  border-radius: 30px;
  box-shadow: 0px 5px 24px -7px rgba(0,0,0,0.75);
}
.later-button{
  background-color:white;
  border-color: gray !important;
  display: block;
  width: 100%;
  color:black;
  padding:10px;
  border-radius: 30px;
  box-shadow: 0px 5px 24px -7px rgba(0,0,0,0.75);
}
.btn-primary{
  background-color: rgb(67, 215, 149) !important;
  border-color: rgb(67, 215, 149) !important;

}
.otp-input{
  width: 3rem !important;
  height: 3rem;
  margin: 0 1rem;
  font-size: 2rem;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top:none;
  border-right:none;
  border-left:none

}
.otp-container{
  justify-content: center;
}
.avatar{
  width: 150px!important;
}
.flex-position{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
}